@model LoginValidationAndEncryption.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body  class="font-['PT Sans']" style="background-image: url('@Url.Content("~/Content/mountain.jpg")');">
    <style>
        .login {
            font-family: "PT Sans", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        input:focus {
            border: 1px solid #1670BE;
            box-shadow: 0 0 3px #1670BE;
            outline-offset: 0px;
            outline: none;
        }

        #UserName {
            margin-top:0.3rem;
            width:19rem;
            border-radius:0.2rem;
            height:2rem;
        }
        #Password {
            margin-top: 0.3rem;
            width: 19rem;
            border-radius: 0.2rem;
            height: 2rem;
        }

    </style>
    <div class="login h-[28rem] w-[24rem] bg-gray-400 m-24 ml-auto mr-auto rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-200">


        <h2 class=" text-white text-center text-4xl mt-2">Login</h2>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="error-message ml-10 mt-4 text-center mb-0 border border-red-400 w-[19rem] h-[2rem] text-gray-700 pl-2 bg-red-100">@ViewBag.ErrorMessage</div>
        }

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {<div class="m-10  mt-7 w-40">
                <div>
                    <label class="text-xl text-white">Username</label>
                    <div class="w-30">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control font-normal pl-2", placeholder = "Enter your username" })
                    </div>

                </div>

                <div class=" mt-3">
                    <label class="text-xl text-white">Password</label>
                    <div>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control font-normal pl-2", placeholder = "Enter your password", @type="password"} )
                    </div>

                </div>

                <div class="mt-10">
                    <input type="submit" value="Login" class="bg-white w-52 rounded-md h-10 ml-12" />
                </div>
            </div>

        }
        <div class="flex ml-24">
            <p class=" text-white  font-normal">Not A User ?</p>
            @Html.ActionLink("Create Account", "Create", null, new { @class = "form-control text-white  font-extrabold pl-2" })
        </div>


    </div>
</body>
</html>
